<h1>Страница результата</h1>
<p>Изначальные данные:</p>
<p><%= @input %></p>
<p>Результат:</p>
<table>
  <tr>
    <th>Число</th>
    <th>Квадрат числа</th>
  </tr>
 <% @result.each do |number| %>
  <tr>
    <td><%= number[0] %></td>         
    <td><%= number[1] %></td>
  </tr>
  <% end %>
  <tr>
    <th>Количество чисел:</th>
    <th><%= @result.length %></th>
  </tr>
</table>
<br>
<%= link_to "Выбрать другое число", :calc_input %>
